.main{
    position: relative;
    width: 18%;
    height: 100%;
    border-top: 1px solid rgba(173, 169, 169, 0.4);
    border-bottom: 1px solid rgba(173, 169, 169, 0.4);
}
.main::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to left, rgba(184, 179, 179, 0.2), rgba(5, 5, 5, 0));
    z-index: 1;
    pointer-events: none;
    border-radius: 0 5px 5px 0; /* Bo tròn góc bên phải */
}

.top{
    display: flex;
    justify-content: space-between;
}
.top1, .top2{
    width: 16%;
    text-align: center;
    background: green;
    padding: 3px 4px;
    color: white;
    font-weight: bold;
}
.top1{
    border-left: 4px solid red;
}
.top2{
    border-right: 4px solid red;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.name{
    margin-top: 30px;
    text-align: center;
    padding: 0 10px;
}
.price{
    font-weight: bold;
    color: red;
    position: relative;
}
.bottom{
    margin-bottom: 5px;
}
