body{
    background-color: black;
    color:white;
    font-family: 'Roboto', sans-serif;
}

iframe{
    width: 100%;
    height: 800px;
}

.video{
    display:flex;
    justify-content: space-between;
}

.avatar, .share{
    display:flex;    
}

.avatar .logo{
    padding-left: 10px;
}

img{
    width:40px;
    height:40px;
    border-radius: 50%;
}

button{
    border-radius: 20px;
    height: 40px;
    background-color: #272727;
    color: #F1F1F1;
    border: none;
    font-weight: bold;
}

.sign-up button{
    margin-left: 20px;
    background: white;
    color: black;
}

.section{
    margin: 2px;
    background: #272727;
    border-radius: 20px;
    color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cot{
    background-color: white;
    width: 1px;
    height: 20px;
}

.video .share .section .like{
    border-radius: 50% 0 0 50%;
}
.video .share .section .dislike{
    border-radius: 0 50% 50% 0;
}

i{
    margin-right: 5px;
}

.share button{
    margin: 0 2px;
    padding: 0 10px;
}

a{
    color:blueviolet;
}

.infor{
    background: #3F3F3F;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}

.comment{
    margin-top: 10px;
    padding: 10px 0;
}
.comment .headerComment{
    display: flex;
}

.comment .headerComment .numberComment{
    padding-right: 20px;
}

.comment .inputComment{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right:40px; 
}

.comment .inputComment .enterComment{
    padding-left: 10px;
    width: 100%;
}

.comment .inputComment .enterComment input{
    width: 100%;
    height: 30px;
    border: none;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #333;
    color: #f1f1f1;
    padding: 5px 20px;
}